
body {
  margin: auto;
  color: #34495e;
  font-family: Trebuchet, Arial, sans-serif;
  text-align: left;
  }

  .allCardContainer{
    max-width: 70%;
    margin: auto;
    background-color: #ecf0f1;
    padding: 10px;

  }

  a {
      text-decoration: none;
  }
  
  html {
      background: url('./static/FossMarina_South_facing_East.jpg') no-repeat center fixed;
      background-size: cover;
  }
