
body {
  max-width: 70%;
  margin: auto;
  background-color: #ecf0f1;
  color: #34495e;
  font-family: Trebuchet, Arial, sans-serif;
  text-align: left;
  }
  
  html {
      background: url('./static/FossMarina_South_facing_East.jpg') no-repeat center fixed;
      background-size: cover;
  }
